PyYAML==6.0.2
requests==2.32.3
matplotlib==3.9.2

google-api-python-client==2.145.0
google-auth==2.35.0
google-auth-httplib2==0.2.0

google-cloud-storage==2.18.2

streamlit==1.39.0
pandas==2.2.3
Pillow==10.4.0

requests

google-auth-oauthlib
google-api-python-client
